<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="UDP Repeater Service" Language="1033" Version="1.0.0.0" Manufacturer="JT4 LLC" UpgradeCode="07b96bd4-d109-4c22-a924-70f8326a1be9">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="Repeater_ConfigFiles" />
			<ComponentGroupRef Id="Repeater_ServiceInstaller" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="UDP_Repeater_Service" />
			</Directory>
		</Directory>
	</Fragment>


	<!--DEPENDENCY FILES-->
		<!-- There are none?  -->

	<!--CONFIG FILES-->
	<Fragment>
		<ComponentGroup Id="CG_ConfigFiles" Directory="INSTALLFOLDER">
			<Component Guid="17C70FC2-4AF5-4381-9FBE-B9C4D062E74A">
				<File Source="$(var.UDP_Repeater_Service.TargetDir)UDP_Repeater_Service.exe.config" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>

	<!--SERVICE-->
	<Fragment>
		<ComponentGroup Id="CG_ServiceInstaller" Directory="INSTALLFOLDER">
			<Component Guid="F7E041AB-3227-4272-92C1-4A12685F30AF" >
				<File Source="$(var.UDP_Repeater_Service.TargetDir)UDP_Repeater_Service.exe" KeyPath="yes"/>
				<ServiceInstall Id="ServiceInstaller"
								Type="ownProcess"
								Name="UDP_Repeater_Service"
								DisplayName="UDP Packet Repeater Service"
								Description="A UDP Packet Sniffer and Repeater. Communicates with an interface to display 
											 statistical information and allow for users to reconfigure system settings"
								Start="auto"
								ErrorControl="normal"
								Account="LocalSystem"/>
				<ServiceControl Id="StartService" Start="install" Stop="both" 
								Remove="uninstall" Name="UDP_Repeater_Service" Wait="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
