<!--=========================================================
 File Name: Bundle.wxs

 Description: This file houses the wix toolset installer 
              bootstrapper that combines the other installer
              and chains them together with a .NET framework
			  4.7.2 installer and a NpCap installer. It also 
			  has the UI that the installer uses to house all 
			  of them.
              
 Language:         XML/wix toolset specific stuff
 Target:           Windows PC
 Operating System: Windows 11 Enterprise
 Compiler:         Visual Studio .Net 2022

 Change History:

 Version   Date 		 Author            Description
   1.0    7/25/24    Jade Pace Thomson   Initial Release
=========================================================-->


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
	 xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
	
	
    <Bundle Name="UDP Packet Repeater" 
			Manufacturer="JT4 LLC" 
			Version="1.0.0.0" 
			UpgradeCode="ed0db20e-808e-41c9-9c42-200ec2ba04d7"
			IconSourceFile="C:\Users\pthomson01.ctr\source\repos\pace-thomson\UDP_Repeater_Service\UDP_Test_GUI\bin\Debug\jt4_logo.ico">

		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication 
				LicenseUrl="" 
				Theme="hyperlinkLicense"  
				ThemeFile="HyperlinkTheme.xml"/>
		</BootstrapperApplication>

        <Chain>

	        <!-- .NET INSTALLER -->
			<ExePackage DetectCondition="false"
						UninstallArguments="/uninstall /quiet /norestart" 
						Vital="no"
						SourceFile="C:\Users\pthomson01.ctr\Documents\ndp472-kb4054531-web.exe"/>
			
            <!-- FRONTEND AND BACKEND INSTALLER -->
			<PackageGroupRef Id="Repeater_Installer"/>
			
        </Chain>
    </Bundle>


	<Fragment>
		<PackageGroup Id="Repeater_Installer">
			<MsiPackage SourceFile="C:\Users\pthomson01.ctr\source\repos\pace-thomson\UDP_Repeater_Service\UDP_Packet_Repeater_Installer\bin\x86\Debug\Packet_Repeater_Installer.msi" />
		</PackageGroup>
	</Fragment>
	
</Wix>

